.shop-window2 {
  position: absolute;
  align-items: center;
  left: calc(23vw + 2rem);
  top: 2vw;
  z-index: 1;
  max-height: 90vh;
  overflow: auto;
  width: 70vw;
}

.special-border {
  border-right: 2mm groove rgba(133, 76, 48, 0.8);
  width: 30vw;
  word-break: break-all;
  max-height: 100px;
}

.table-description {
  width: 60vw;
}

.listing-modal {
  max-width: 60%;
  top: 4%;
  height: 92%;
  overflow: auto;
}

.border-listings-table {
  border: 2mm groove rgba(133, 76, 48, 0.8);
}
