.shop-window2 {
  position: absolute;
  align-items: center;
  left: calc(23vw + 2rem);
  top: 8vw;
  z-index: 1;
}

.special-border {
  border-right: 2mm groove rgba(133, 76, 48, .8);
}

.listing-modal {
  max-width: 60%;
  top: 4%;
  height: 92%;
  overflow: auto;
}

.border-listings-table {
  border: 2mm groove rgba(133, 76, 48, .8);
}
