.forum-window {
  position: absolute;
  align-items: center;
  left: calc(25vw + 2rem);
  top: 8vw;
  width: 50%;
  height: 72.5%;
  overflow: auto;
}

.splash-modal-position {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.forum-search {
  position: absolute;
  align-items: center;
  left: calc(25vw + 2rem);
  top: 1vw;
  width: 50%;
}

.post-create2 {
  position: absolute;
  align-items: center;
  left: calc(25vw + 2rem);
  top: 10vw;
  width: 50%;
}

.modal-center {
  position: absolute;
  align-items: center;
  left: calc(25vw + 2rem);
  top: 35%;
  width: 50%;
}

.post-create {
  position: absolute;
  align-items: center;
  left: calc(25vw + 2rem);
  bottom:2vh;
  width: 50%;
}
