@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

.listing-container {
  overflow-y: auto !important;
  width: 80vw;
}

table {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
}

.listing-table td {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.center-no-listing {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  flex-direction: column;
}

.table-highlight {
  font-weight: bold !important;
  font-size: 1.3rem;
  word-break: break-word !important;
}
