.shop {
  background: url("../../images/shopBackground.png") no-repeat center
    center/100% fixed;
  width: 100vw;
  height: 100vh;
}

.shop-window {
  position: absolute;
  align-items: center;
  left: calc(30vw + 2rem);
  top: 10vw;
  z-index: 1;
}

.shop-window-info {
  position: absolute;
  align-items: center;
  left: calc(30vw + 2rem);
  top: 8vw;
  z-index: 1;
}

.splash-modal-position {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

/* Modal */

.hide-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.show-modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
