.gameBackground {
    background: url("https://cdna.artstation.com/p/assets/images/images/033/010/946/large/stella-carrick-highresscreenshot00043.jpg?1608223996") no-repeat center center/100% fixed;
    width: 100vw;
    height: 100vh;
}

#before {
    padding:0;
    margin:0;
    position:absolute;
    color:white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#startedTitle {
    padding:0;
    margin:0;
    opacity: 0;
}

@keyframes slideleft {
    from {
        background-position: 0%;
    }
    
    to {
        background-position: -90000000%;
    }
}

@-webkit-keyframes slideleft {
    from {
        background-position: 0%;
    }
    to {
        background-position: -90000000%;
    }
}

.gameCanvas {
    position: absolute;
    background-image: url('map.png');
    background-repeat: repeat-x;
    background-size: contain;
    animation: slideleft 5000s infinite linear;
    -webkit-animation: slideleft 5000s infinite linear;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* height: 50%;
    width: 50%; */
    width: 960px;
    height: 480px;
    border: 2px solid black;
}

/* .gameCanvas {
    position: absolute;
    background: url("map.png");
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 50%;
    border: 2px solid black;
} */

.game {
    width: 960px;
    height: 480px !important; 
    border: 1px solid black;
    margin: auto;
}

#score {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
}

/* <<< Commented out animation attempt >>> */
/* .infinite{
    content: '';
    position: relative;
    width:800px;
    height: 160px;
  
    transform-origin: bottom;
    transform-style: preserve-3d;
    transform: perspective(500px) rotateX(30deg);
}

#character {
    width: 100px;
    height: 100px;
    width: calc(50px / 4);
    background-image: url(playerRight.png);
    background-size: 50px 50px;
    transform: perspective(500px) rotateX(-25deg) translateY(-150px);
    -webkit-box-reflect: below 1px linear-gradient (transparent 90%, #0004);
    animation: animateSprite 0.5s step(4) infinite;
    background-repeat: no-repeat;
    position: relative;
    top: 195px;
}

@keyframes animateSprite{
    from{
        background-position:0;
    }
    to{
        background-position:50;
    }
} */

#character {
    width: 2rem;
    height: 4rem;
    background-image: url(playerRight.png);
    width: calc(192px/4);
    background-repeat: no-repeat;
    position: relative;
    /* animation: animateSprite 1s steps(2) infinite; */
    top: 17rem;
}

/* #character {
    position: absolute; 
    width: 100px;
    height: 100px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: calc(192px/4);
    background-image: url(playerRight.png);
    background-repeat: no-repeat;
    animation: animateSprite 1s steps(2) infinite;
    top: 195px;
} */


.jump {
    animation: jump 0.5s linear;
}

@keyframes jump {
    0% {
        top: 17rem;
    }

    30% {
        top: 12rem;
    }

    50% {
        top: 7rem;
    }

    80% {
        top: 12rem;
    }

    100% {
        top: 17rem;
    }
}
/* 
@keyframes animateSprite{
    from{
        background-position:0;
    }
    to{
        background-position: -192px;
    }
} */

#block {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    top: 15rem;
    left: 700px;

    background-image: url("slime.png");
    background-size: 2.5rem 2.5rem;
    background-repeat: no-repeat;

    animation: block 1s infinite linear;
}

@keyframes block {
    0% {
        left: 60rem;
    }

    100% {
        left: -1rem;
    }
}
