body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cross {
  /* color and border */
  color: yellow;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 1em;
  line-height: 22px;
  text-decoration: none;
}

/* default gui link */
.cross:hover {
  text-decoration: underline;
  cursor: url("../public/dist/img/cursor/point.png") 10 0, auto !important;
}

button:hover {
  cursor: url("../public/dist/img/cursor/point.png") 10 0, auto !important;
}
