.for-sale-img {
  width: 250px;
  margin: auto;
  height: 250px;
}

.contact-seller-container {
  left: 50%;
  transform: translateX(-50%);
}

.listing-modal {
  width: 50vw;
}

.listing-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.3rem !important;
}
.view-listing {
  margin-top: 2rem !important;
  width: 40vw;
}
